
.Button{
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color) ;
}